html { overflow-x:hidden; }
body{
    padding-right: 0px !important;
}
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}

.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}

.main-header{
    font-size: 15px;
}
.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}
 .el-dialog__footer,.el-table td,.el-table th{
     text-align: center;
 }
.el-form .el-input, .el-form .el-input-number{
    width:100%;
}
.el-form .el-select,.el-form .el-cascader{
    width:100%;
}

.my-table-expand {
    font-size: 0;
}
.my-table-expand label {
    width: 150px;
    color: #99a9bf;
}
.my-table-expand .el-form-item {
    text-align: left;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
}

.el-table .el-dropdown button{
    border: none !important;
}

[v-cloak] {
    display:none !important;
}