html { overflow-x:hidden; }
body{
    padding-right: 0px !important;
}
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}

.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}

.main-header{
    font-size: 15px;
}
.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}
 .el-dialog__footer,.el-table td,.el-table th{
     text-align: center;
 }
.el-form .el-input, .el-form .el-input-number{
    width:85%;
}
.el-form .el-select,.el-form .el-cascader{
    width:100%;
}
/*.el-container{*/
    /*height: 660px;*/
/*}*/

[v-cloak] {
    display:none !important;
}