<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header"/>
<body>
<div id="familyMemberapp" v-cloak>
    <div>
        <el-form :inline="true" ref="queryFormRef" :model="queryForm" class="demo-form-inline">
            <el-row type="flex" class="row-bg">
                <el-form-item label="关键字" prop="keyword">
                    <el-input v-model="queryForm.keyword" placeholder="关键字"></el-input>
                </el-form-item>
            </el-row>
            <el-row type="flex" class="row-bg" justify="center">
                <el-form-item>
                    <el-button type="primary" @click="myQuery" icon="el-icon-search">查询</el-button>
                    <el-button @click="myQueryReset">重置</el-button>
                    <my-btn label="新增" type="primary" icon="el-icon-circle-plus" @click="myAdd" auth="my:family:member:add"></my-btn>
                    <my-btn label="导出" type="info" icon="el-icon-download" @click="listExport"  auth="my:family:member:list:export"></my-btn>
                </el-form-item>
            </el-row>
        </el-form>
        <my-table :columns="tableColumns" :page="page" :table-loading="tableLoading" @sortChange="sortchange" :default-sort="defaultSort"
                  v-on:pagesizechange="pagesizechange" v-on:currentpagechange="currentpagechange">
        </my-table>
        <el-dialog :close-on-click-modal="false" :title="addOrUpdateForm.title"
                   :visible.sync="addOrUpdateForm.familyMemberFormVisible">
            <el-form ref="addOrUpdateFormRef" :rules="rules" :model="addOrUpdateForm.familyMember">
                        <el-form-item label="家庭ID" prop="familyId"
                                      :label-width="addOrUpdateForm.familyMemberFormLabelWidth">
                            <el-input v-model="addOrUpdateForm.familyMember.familyId" autocomplete="off"
                                      placeholder="家庭ID"></el-input>
                        </el-form-item>
                        <el-form-item label="用户ID" prop="userId"
                                      :label-width="addOrUpdateForm.familyMemberFormLabelWidth">
                            <el-input v-model="addOrUpdateForm.familyMember.userId" autocomplete="off"
                                      placeholder="用户ID"></el-input>
                        </el-form-item>
                        <el-form-item label="成员类型" prop="type"
                                      :label-width="addOrUpdateForm.familyMemberFormLabelWidth">
                            <el-input v-model="addOrUpdateForm.familyMember.type" autocomplete="off"
                                      placeholder="成员类型"></el-input>
                        </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addOrUpdateForm.familyMemberFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveOrUpdate">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</div>
<script src="/statics/js/modules/my/familyMember.js"></script>
</body>
</html>
