<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciaj.boot.modules.sys.mapper.SysAreaMapper">
    <!--
        Author: Ciaj.
        Date: 2019-05-09 09:15:20
        Description: www.ciaj.com gen mapper.xml
    -->
    <cache eviction="LRU" flushInterval="60000" readOnly="true" size="1560" type="com.ciaj.boot.component.config.redis.MybatisRedisCache"></cache>

    <resultMap id="BaseResultMap" type="com.ciaj.boot.modules.sys.entity.po.SysAreaPo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <id column="name" property="name" jdbcType="VARCHAR" />
        <id column="code" property="code" jdbcType="VARCHAR" />
        <id column="parent_id" property="parentId" jdbcType="VARCHAR" />
        <id column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
        <id column="type" property="type" jdbcType="VARCHAR" />
        <id column="level" property="level" jdbcType="INTEGER" />
        <id column="sequence" property="sequence" jdbcType="INTEGER" />
        <id column="enabled" property="enabled" jdbcType="CHAR" />
        <id column="create_at" property="createAt" jdbcType="VARCHAR" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <id column="update_at" property="updateAt" jdbcType="VARCHAR" />
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <id column="del_flag" property="delFlag" jdbcType="CHAR" />
        <id column="version" property="version" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="BaseResultDtoMap" type="com.ciaj.boot.modules.sys.entity.dto.SysAreaDto" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <id column="name" property="name" jdbcType="VARCHAR" />
        <id column="code" property="code" jdbcType="VARCHAR" />
        <id column="area_name" property="areaName" jdbcType="VARCHAR" />
        <id column="parent_id" property="parentId" jdbcType="VARCHAR" />
        <id column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
        <id column="type" property="type" jdbcType="VARCHAR" />
        <id column="level" property="level" jdbcType="INTEGER" />
        <id column="sequence" property="sequence" jdbcType="INTEGER" />
        <id column="enabled" property="enabled" jdbcType="CHAR" />
        <id column="create_at" property="createAt" jdbcType="VARCHAR" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <id column="update_at" property="updateAt" jdbcType="VARCHAR" />
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <id column="del_flag" property="delFlag" jdbcType="CHAR" />
        <id column="version" property="version" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List">
        id,name,code,parent_id,parent_ids,type,level,sequence,enabled,create_at,create_time,update_at,update_time,del_flag,version
    </sql>
    <sql id="Base_Alias_Column_List">
        m.id,m.name,m.code,m.parent_id,m.parent_ids,m.type,m.level,m.sequence,m.enabled,m.create_at,m.create_time,m.update_at,m.update_time,m.del_flag,m.version
    </sql>
    <delete id="deleteByPrimaryKey">
        DELETE FROM sys_area
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="delete" parameterType="com.ciaj.boot.modules.sys.entity.po.SysAreaPo">
        DELETE FROM sys_area
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null">
                    AND id = #{id}
                </if>
                <if test="name != null">
                    AND name = #{name}
                </if>
                <if test="code != null">
                    AND code = #{code}
                </if>
                <if test="parentId != null">
                    AND parent_id = #{parentId}
                </if>
                <if test="parentIds != null">
                    AND parent_ids = #{parentIds}
                </if>
                <if test="type != null">
                    AND type = #{type}
                </if>
                <if test="level != null">
                    AND level = #{level}
                </if>
                <if test="sequence != null">
                    AND sequence = #{sequence}
                </if>
                <if test="enabled != null">
                    AND enabled = #{enabled}
                </if>
                <if test="createAt != null">
                    AND create_at = #{createAt}
                </if>
                <if test="createTime != null">
                    AND create_time = #{createTime}
                </if>
                <if test="updateAt != null">
                    AND update_at = #{updateAt}
                </if>
                <if test="updateTime != null">
                    AND update_time = #{updateTime}
                </if>
                <if test="delFlag != null">
                    AND del_flag = #{delFlag}
                </if>
                <if test="version != null">
                    AND version = #{version}
                </if>
            </trim>
        </where>
    </delete>
    <insert id="insert"  parameterType="com.ciaj.boot.modules.sys.entity.po.SysAreaPo">
        <selectKey keyProperty="id" order="BEFORE"  resultType="String">
            SELECT REPLACE(uuid(),'-','') FROM DUAL
        </selectKey>
        INSERT INTO sys_area
        (id,name,code,parent_id,parent_ids,type,level,sequence,enabled,create_at,create_time,update_at,update_time,del_flag,version)
        VALUES
        (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{parentId,jdbcType=VARCHAR},#{parentIds,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{level,jdbcType=INTEGER},#{sequence,jdbcType=INTEGER},#{enabled,jdbcType=CHAR},#{createAt,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateAt,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP},#{delFlag,jdbcType=CHAR},#{version,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.ciaj.boot.modules.sys.entity.po.SysAreaPo">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        INSERT INTO sys_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="parentIds != null">
                parent_ids,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="parentIds != null">
                #{parentIds,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="sequence != null">
                #{sequence,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=CHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey"  parameterType="com.ciaj.boot.modules.sys.entity.po.SysAreaPo">
        UPDATE sys_area
        <set>
            name = #{name},
            code = #{code},
            parent_id = #{parentId},
            parent_ids = #{parentIds},
            type = #{type},
            level = #{level},
            sequence = #{sequence},
            enabled = #{enabled},
            create_at = #{createAt},
            create_time = #{createTime},
            update_at = #{updateAt},
            update_time = #{updateTime},
            del_flag = #{delFlag},
            version = #{version},
        </set>
         WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyAndVersion">
        UPDATE sys_area
        <set>
            name = #{record.name},
            code = #{record.code},
            parent_id = #{record.parentId},
            parent_ids = #{record.parentIds},
            type = #{record.type},
            level = #{record.level},
            sequence = #{record.sequence},
            enabled = #{record.enabled},
            create_at = #{record.createAt},
            create_time = #{record.createTime},
            update_at = #{record.updateAt},
            update_time = #{record.updateTime},
            del_flag = #{record.delFlag},
            version = #{record.version},
        </set>
            WHERE id = #{record.id,jdbcType=VARCHAR} and version = #{oldVersion}
    </update>
    <update id="updateByPrimaryKeySelective"  parameterType="com.ciaj.boot.modules.sys.entity.po.SysAreaPo">
        UPDATE sys_area
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="parentIds != null">
                parent_ids = #{parentIds},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="sequence != null">
                sequence = #{sequence},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="createAt != null">
                create_at = #{createAt},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeySelectiveAndVersion">
        UPDATE sys_area
        <set>
            <if test="record.name != null">
                name = #{record.name},
            </if>
            <if test="record.code != null">
                code = #{record.code},
            </if>
            <if test="record.parentId != null">
                parent_id = #{record.parentId},
            </if>
            <if test="record.parentIds != null">
                parent_ids = #{record.parentIds},
            </if>
            <if test="record.type != null">
                type = #{record.type},
            </if>
            <if test="record.level != null">
                level = #{record.level},
            </if>
            <if test="record.sequence != null">
                sequence = #{record.sequence},
            </if>
            <if test="record.enabled != null">
                enabled = #{record.enabled},
            </if>
            <if test="record.createAt != null">
                create_at = #{record.createAt},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime},
            </if>
            <if test="record.updateAt != null">
                update_at = #{record.updateAt},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime},
            </if>
            <if test="record.delFlag != null">
                del_flag = #{record.delFlag},
            </if>
            <if test="record.version != null">
                version = #{record.version},
            </if>
        </set>
            WHERE id = #{record.id,jdbcType=VARCHAR}  and version = #{oldVersion}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_area
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectListByKeys" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_area
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                and id in
                <foreach collection="keys" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </trim>
        </where>
    </select>

    <sql id="base_query_condition_sql">
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null">
                    AND m.id = #{id}
                </if>
                <if test="name != null">
                    AND m.name = #{name}
                </if>
                <if test="code != null">
                    AND m.code = #{code}
                </if>
                <if test="parentId != null">
                    AND m.parent_id = #{parentId}
                </if>
                <if test="parentIds != null">
                    AND m.parent_ids = #{parentIds}
                </if>
                <if test="type != null">
                    AND m.type = #{type}
                </if>
                <if test="level != null">
                    AND m.level = #{level}
                </if>
                <if test="sequence != null">
                    AND m.sequence = #{sequence}
                </if>
                <if test="enabled != null">
                    AND m.enabled = #{enabled}
                </if>
                <if test="createAt != null">
                    AND m.create_at = #{createAt}
                </if>
                <if test="createTime != null">
                    AND m.create_time = #{createTime}
                </if>
                <if test="updateAt != null">
                    AND m.update_at = #{updateAt}
                </if>
                <if test="updateTime != null">
                    AND m.update_time = #{updateTime}
                </if>
                <if test="delFlag != null">
                    AND m.del_flag = #{delFlag}
                </if>
                <if test="version != null">
                    AND m.version = #{version}
                </if>
            </trim>
        </where>
    </sql>

    <select id="selectOne" resultMap="BaseResultMap"  parameterType="com.ciaj.boot.modules.sys.entity.po.SysAreaPo">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_area m
        <include refid="base_query_condition_sql"/>
    </select>

    <select id="select" resultMap="BaseResultMap"  parameterType="com.ciaj.boot.modules.sys.entity.po.SysAreaPo">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_area m
        <include refid="base_query_condition_sql"/>
    </select>

    <select id="selectAll" resultMap="BaseResultMap"  parameterType="com.ciaj.boot.modules.sys.entity.po.SysAreaPo">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_area m
        <include refid="base_query_condition_sql"/>
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.ciaj.boot.modules.sys.entity.vo.SysAreaVo">
        SELECT
        <include refid="Base_Alias_Column_List"/>
        FROM sys_area m
        <include refid="cust_query_condition_sql"/>
    </select>

    <resultMap id="DTOResultMap" type="com.ciaj.boot.modules.sys.entity.dto.SysAreaDto" extends="BaseResultMap">
    </resultMap>

    <select id="selectDTOList" resultMap="DTOResultMap" parameterType="com.ciaj.boot.modules.sys.entity.vo.SysAreaVo">
        SELECT
        <include refid="Base_Alias_Column_List"/>
        FROM sys_area m
        <include refid="cust_query_condition_sql"/>
    </select>
    <select id="selectRecursiveListById" resultMap="DTOResultMap">
        WITH RECURSIVE cte AS (
            SELECT t.* FROM sys_area t WHERE t.id = #{id}
            UNION ALL
            SELECT a.* FROM sys_area a INNER JOIN cte c ON c.parent_id = a.id
        )
        SELECT * FROM cte c ORDER BY c.level
    </select>
    <select id="selectRecursiveListByIds" resultMap="DTOResultMap">
        WITH RECURSIVE cte AS (
            SELECT t.* FROM sys_area t
            <where>
                <trim prefix="" prefixOverrides="and" suffix="">
                    and t.id in
                    <foreach collection="ids" separator="," open="(" close=")" item="item">
                        #{item}
                    </foreach>
                </trim>
            </where>
            UNION ALL
            SELECT a.* FROM sys_area a INNER JOIN cte c ON c.parent_id = a.id
        )
        SELECT * FROM cte c ORDER BY c.level
    </select>
    <select id="selectListViewById" resultMap="BaseResultDtoMap">
        select * from view_sys_area v
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
            <if test="id != null  and id != ''">
                AND m.id = #{id}
            </if>
            </trim>
        </where>
    </select>
    <select id="selectListViewByIds" resultMap="BaseResultDtoMap">
        select v.id,v.name, v.area_name, v.level, v.enabled from view_sys_area v
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                and t.id in
                <foreach collection="ids" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </trim>
        </where>
    </select>
    <sql id="cust_query_condition_sql">
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null  and id != ''">
                    AND m.id = #{id}
                </if>
                <if test="name != null  and name != ''">
                    and m.name  like CONCAT('%',#{name},'%')
                </if>
                <if test="code != null  and code != ''">
                    and m.code  like CONCAT('%',#{code},'%')
                </if>
                <if test="parentIds != null  and parentIds != ''">
                    and m.parent_ids  like CONCAT('%',#{parentIds},'%')
                </if>
                <if test="parentId != null  and parentId != ''">
                    and (m.id=#{parentId} or m.parent_ids  like CONCAT('%,',#{parentId},'%'))
                </if>
                <if test="type != null  and type != ''">
                    AND m.type = #{type}
                </if>
                <if test="level != null ">
                    and m.level &lt;= #{level}
                </if>
                <if test="sequence != null ">
                    AND m.sequence = #{sequence}
                </if>
                <if test="enabled != null  and enabled != ''">
                    AND m.enabled = #{enabled}
                </if>
                <if test="createAt != null  and createAt != ''">
                    AND m.create_at = #{createAt}
                </if>
                <if test="createTime != null ">
                    AND m.create_time = #{createTime}
                </if>
                <if test="updateAt != null  and updateAt != ''">
                    AND m.update_at = #{updateAt}
                </if>
                <if test="updateTime != null ">
                    AND m.update_time = #{updateTime}
                </if>
                <if test="delFlag != null  and delFlag != ''">
                    AND m.del_flag = #{delFlag}
                </if>
                <if test="version != null ">
                    AND m.version = #{version}
                </if>
                <!--  keyword   -->
                <if test="keyword != null and keyword != ''">
                    and (m.name  like CONCAT('%',#{keyword},'%') or m.code  like CONCAT('%',#{keyword},'%'))
                </if>
            </trim>
        </where>
    </sql>
</mapper>
