<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciaj.boot.modules.sys.mapper.SysCommMapper">

<!--   <select id="selectTableStatus" resultType="map">-->
<!--       show table status-->
<!--   </select>-->
</mapper>
