<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciaj.boot.modules.sys.mapper.SysPermissionMapper">
    <!--
        Author: Ciaj.
        Date: 2019-05-09 13:08:39
        Description: www.ciaj.com gen mapper.xml
    -->
    <cache eviction="LRU" flushInterval="60000" readOnly="true" size="1560"
           type="com.ciaj.boot.component.config.redis.MybatisRedisCache"></cache>

    <resultMap id="BaseResultMap" type="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="description" property="description" jdbcType="VARCHAR"/>
        <id column="type" property="type" jdbcType="VARCHAR"/>
        <id column="permission_code" property="permissionCode" jdbcType="VARCHAR"/>
        <id column="url" property="url" jdbcType="VARCHAR"/>
        <id column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <id column="parent_ids" property="parentIds" jdbcType="VARCHAR"/>
        <id column="available" property="available" jdbcType="CHAR"/>
        <id column="create_at" property="createAt" jdbcType="VARCHAR"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_at" property="updateAt" jdbcType="VARCHAR"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <id column="del_flag" property="delFlag" jdbcType="CHAR"/>
        <id column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,description,type,permission_code,url,parent_id,parent_ids,available,create_at,create_time,update_at,update_time,del_flag,version
    </sql>
    <sql id="Base_Alias_Column_List">
        m.id,m.name,m.description,m.type,m.permission_code,m.url,m.parent_id,m.parent_ids,m.available,m.create_at,m.create_time,m.update_at,m.update_time,m.del_flag,m.version
    </sql>
    <delete id="deleteByPrimaryKey">
        DELETE FROM sys_permission
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="delete" parameterType="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        DELETE FROM sys_permission
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null">
                    AND id = #{id}
                </if>
                <if test="name != null">
                    AND name = #{name}
                </if>
                <if test="description != null">
                    AND description = #{description}
                </if>
                <if test="type != null">
                    AND type = #{type}
                </if>
                <if test="permissionCode != null">
                    AND permission_code = #{permissionCode}
                </if>
                <if test="url != null">
                    AND url = #{url}
                </if>
                <if test="parentId != null">
                    AND parent_id = #{parentId}
                </if>
                <if test="parentIds != null">
                    AND parent_ids = #{parentIds}
                </if>
                <if test="available != null">
                    AND available = #{available}
                </if>
                <if test="createAt != null">
                    AND create_at = #{createAt}
                </if>
                <if test="createTime != null">
                    AND create_time = #{createTime}
                </if>
                <if test="updateAt != null">
                    AND update_at = #{updateAt}
                </if>
                <if test="updateTime != null">
                    AND update_time = #{updateTime}
                </if>
                <if test="delFlag != null">
                    AND del_flag = #{delFlag}
                </if>
                <if test="version != null">
                    AND version = #{version}
                </if>
            </trim>
        </where>
    </delete>
    <insert id="insert" parameterType="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            SELECT REPLACE(uuid(),'-','') FROM DUAL
        </selectKey>
        INSERT INTO sys_permission
        (id,name,description,type,permission_code,url,parent_id,parent_ids,available,create_at,create_time,update_at,update_time,del_flag,version)
        VALUES
        (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{permissionCode,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{parentId,jdbcType=VARCHAR},#{parentIds,jdbcType=VARCHAR},#{available,jdbcType=CHAR},#{createAt,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateAt,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP},#{delFlag,jdbcType=CHAR},#{version,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        INSERT INTO sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="permissionCode != null">
                permission_code,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="parentIds != null">
                parent_ids,
            </if>
            <if test="available != null">
                available,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="permissionCode != null">
                #{permissionCode,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="parentIds != null">
                #{parentIds,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available,jdbcType=CHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        UPDATE sys_permission
        <set>
            name = #{name},
            description = #{description},
            type = #{type},
            permission_code = #{permissionCode},
            url = #{url},
            parent_id = #{parentId},
            parent_ids = #{parentIds},
            available = #{available},
            create_at = #{createAt},
            create_time = #{createTime},
            update_at = #{updateAt},
            update_time = #{updateTime},
            del_flag = #{delFlag},
            version = #{version},
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyAndVersion">
        UPDATE sys_permission
        <set>
            name = #{record.name},
            description = #{record.description},
            type = #{record.type},
            permission_code = #{record.permissionCode},
            url = #{record.url},
            parent_id = #{record.parentId},
            parent_ids = #{record.parentIds},
            available = #{record.available},
            create_at = #{record.createAt},
            create_time = #{record.createTime},
            update_at = #{record.updateAt},
            update_time = #{record.updateTime},
            del_flag = #{record.delFlag},
            version = #{record.version},
        </set>
        WHERE id = #{record.id,jdbcType=VARCHAR} and version = #{oldVersion}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        UPDATE sys_permission
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="permissionCode != null">
                permission_code = #{permissionCode},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="parentIds != null">
                parent_ids = #{parentIds},
            </if>
            <if test="available != null">
                available = #{available},
            </if>
            <if test="createAt != null">
                create_at = #{createAt},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeySelectiveAndVersion">
        UPDATE sys_permission
        <set>
            <if test="record.name != null">
                name = #{record.name},
            </if>
            <if test="record.description != null">
                description = #{record.description},
            </if>
            <if test="record.type != null">
                type = #{record.type},
            </if>
            <if test="record.permissionCode != null">
                permission_code = #{record.permissionCode},
            </if>
            <if test="record.url != null">
                url = #{record.url},
            </if>
            <if test="record.parentId != null">
                parent_id = #{record.parentId},
            </if>
            <if test="record.parentIds != null">
                parent_ids = #{record.parentIds},
            </if>
            <if test="record.available != null">
                available = #{record.available},
            </if>
            <if test="record.createAt != null">
                create_at = #{record.createAt},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime},
            </if>
            <if test="record.updateAt != null">
                update_at = #{record.updateAt},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime},
            </if>
            <if test="record.delFlag != null">
                del_flag = #{record.delFlag},
            </if>
            <if test="record.version != null">
                version = #{record.version},
            </if>
        </set>
        WHERE id = #{record.id,jdbcType=VARCHAR} and version = #{oldVersion}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectListByKeys" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                and id in
                <foreach collection="keys" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </trim>
        </where>
    </select>

    <sql id="base_query_condition_sql">
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null">
                    AND m.id = #{id}
                </if>
                <if test="name != null">
                    AND m.name = #{name}
                </if>
                <if test="description != null">
                    AND m.description = #{description}
                </if>
                <if test="type != null">
                    AND m.type = #{type}
                </if>
                <if test="permissionCode != null">
                    AND m.permission_code = #{permissionCode}
                </if>
                <if test="url != null">
                    AND m.url = #{url}
                </if>
                <if test="parentId != null">
                    AND m.parent_id = #{parentId}
                </if>
                <if test="parentIds != null">
                    AND m.parent_ids = #{parentIds}
                </if>
                <if test="available != null">
                    AND m.available = #{available}
                </if>
                <if test="createAt != null">
                    AND m.create_at = #{createAt}
                </if>
                <if test="createTime != null">
                    AND m.create_time = #{createTime}
                </if>
                <if test="updateAt != null">
                    AND m.update_at = #{updateAt}
                </if>
                <if test="updateTime != null">
                    AND m.update_time = #{updateTime}
                </if>
                <if test="delFlag != null">
                    AND m.del_flag = #{delFlag}
                </if>
                <if test="version != null">
                    AND m.version = #{version}
                </if>
            </trim>
        </where>
    </sql>
    <select id="selectOne" resultMap="BaseResultMap"
            parameterType="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission m
        <include refid="base_query_condition_sql"/>

    </select>

    <select id="select" resultMap="BaseResultMap" parameterType="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission m
        <include refid="base_query_condition_sql"/>
    </select>

    <select id="selectAll" resultMap="BaseResultMap"
            parameterType="com.ciaj.boot.modules.sys.entity.po.SysPermissionPo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission m
        <include refid="base_query_condition_sql"/>
    </select>

    <select id="selectList" resultMap="BaseResultMap"
            parameterType="com.ciaj.boot.modules.sys.entity.vo.SysPermissionVo">
        SELECT
        <include refid="Base_Alias_Column_List"/>
        FROM sys_permission m
        <include refid="cust_query_condition_sql"/>
    </select>

    <resultMap id="DTOResultMap" type="com.ciaj.boot.modules.sys.entity.dto.SysPermissionDto" extends="BaseResultMap">
    </resultMap>

    <select id="selectDTOList" resultMap="DTOResultMap"
            parameterType="com.ciaj.boot.modules.sys.entity.vo.SysPermissionVo">
        SELECT
        <include refid="Base_Alias_Column_List"/>
        FROM sys_permission m
        <include refid="cust_query_condition_sql"/>
    </select>

    <sql id="cust_query_condition_sql">
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null  and id != ''">
                    AND m.id = #{id}
                </if>
                <if test="name != null  and name != ''">
                    AND m.name = #{name}
                </if>
                <if test="description != null  and description != ''">
                    AND m.description = #{description}
                </if>
                <if test="type != null  and type != ''">
                    AND m.type = #{type}
                </if>
                <if test="permissionCode != null  and permissionCode != ''">
                    AND m.permission_code = #{permissionCode}
                </if>
                <if test="url != null  and url != ''">
                    AND m.url = #{url}
                </if>
                <if test="parentId != null  and parentId != ''">
                    AND m.parent_id = #{parentId}
                </if>
                <if test="parentIds != null  and parentIds != ''">
                    AND m.parent_ids = #{parentIds}
                </if>
                <if test="available != null  and available != ''">
                    AND m.available = #{available}
                </if>
                <if test="createAt != null  and createAt != ''">
                    AND m.create_at = #{createAt}
                </if>
                <if test="createTime != null ">
                    AND m.create_time = #{createTime}
                </if>
                <if test="updateAt != null  and updateAt != ''">
                    AND m.update_at = #{updateAt}
                </if>
                <if test="updateTime != null ">
                    AND m.update_time = #{updateTime}
                </if>
                <if test="delFlag != null  and delFlag != ''">
                    AND m.del_flag = #{delFlag}
                </if>
                <if test="version != null ">
                    AND m.version = #{version}
                </if>
                <!--  keyword   -->
                <if test="keyword != null and keyword != ''">
                    and (m.name like CONCAT('%',#{keyword},'%')
                    or m.description like CONCAT('%',#{keyword},'%')
                    or m.permission_code like CONCAT('%',#{keyword},'%')
                    or m.url like CONCAT('%',#{url},'%'))
                </if>
            </trim>
        </where>
    </sql>

    <select id="selectPermissionsByUserIdMultiTable" resultMap="BaseResultMap">
        SELECT
        DISTINCT
        <include refid="Base_Alias_Column_List"/>
        FROM sys_user_role_rel sur
        LEFT JOIN sys_role_permission_rel srp on sur.role_id=srp.role_id
        LEFT JOIN sys_permission m on m.id=srp.permission_id
        where m.del_flag='N' and m.available='Y' and sur.user_id= #{userId}
    </select>

    <select id="selectPermissionsByRoleIdMultiTable" resultMap="BaseResultMap">
        SELECT
        DISTINCT
        <include refid="Base_Alias_Column_List"/>
        FROM sys_user_role_rel sur
        LEFT JOIN sys_role_permission_rel srp on sur.role_id=srp.role_id
        LEFT JOIN sys_permission m on m.id=srp.permission_id
        where m.del_flag='N' and m.available='Y' and sur.role_id= #{roleId}
    </select>

    <select id="selectDTOListMultiTable" resultMap="DTOResultMap" parameterType="com.ciaj.boot.modules.sys.entity.vo.SysPermissionVo">
        SELECT
        <include refid="Base_Alias_Column_List"/>
        FROM sys_permission m
        LEFT JOIN sys_role_permission_rel srp on m.id=srp.permission_id
        <include refid="cust_query_condition_sql"/>
        <if test="roleId != null and roleId != ''">
           and (srp.role_id = #{roleId} or m.create_at=#{userId})
        </if>
    </select>
</mapper>
