<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciaj.boot.modules.wpe.mapper.WpeElectricianRecordMapper">
    <!--
        Author: Ciaj.
        Date: 2025-07-25 22:28:35
        Description: www.ciaj.com gen mapper.xml
    -->
    <cache eviction="LRU" flushInterval="60000" readOnly="true" size="1560" type="com.ciaj.boot.component.config.redis.MybatisRedisCache"></cache>

    <resultMap id="BaseResultMap" type="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <id column="user_id" property="userId" jdbcType="VARCHAR" />
        <id column="project_id" property="projectId" jdbcType="VARCHAR" />
        <id column="workday" property="workday" jdbcType="TIMESTAMP" />
        <id column="work_start" property="workStart" jdbcType="TIMESTAMP" />
        <id column="work_end" property="workEnd" jdbcType="TIMESTAMP" />
        <id column="remark" property="remark" jdbcType="VARCHAR" />
        <id column="status" property="status" jdbcType="CHAR" />
        <id column="work_type" property="workType" jdbcType="VARCHAR" />
        <id column="labour_cost" property="labourCost" jdbcType="DECIMAL" />
        <id column="create_at" property="createAt" jdbcType="VARCHAR" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <id column="update_at" property="updateAt" jdbcType="VARCHAR" />
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <id column="del_flag" property="delFlag" jdbcType="CHAR" />
        <id column="version" property="version" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,project_id,workday,work_start,work_end,remark,status,work_type,labour_cost,create_at,create_time,update_at,update_time,del_flag,version
    </sql>
    <sql id="Base_Alias_Column_List">
        m.id,m.user_id,m.project_id,m.workday,m.work_start,m.work_end,m.remark,m.status,m.work_type,m.labour_cost,m.create_at,m.create_time,m.update_at,m.update_time,m.del_flag,m.version
    </sql>
    <delete id="deleteByPrimaryKey">
        DELETE FROM wpe_electrician_record
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="delete" parameterType="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo">
        DELETE FROM wpe_electrician_record
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null">
                    AND id = #{id}
                </if>
                <if test="userId != null">
                    AND user_id = #{userId}
                </if>
                <if test="projectId != null">
                    AND project_id = #{projectId}
                </if>
                <if test="workday != null">
                    AND workday = #{workday}
                </if>
                <if test="workStart != null">
                    AND work_start = #{workStart}
                </if>
                <if test="workEnd != null">
                    AND work_end = #{workEnd}
                </if>
                <if test="remark != null">
                    AND remark = #{remark}
                </if>
                <if test="status != null">
                    AND status = #{status}
                </if>
                <if test="workType != null">
                    AND work_type = #{workType}
                </if>
                <if test="labourCost != null">
                    AND labour_cost = #{labourCost}
                </if>
                <if test="createAt != null">
                    AND create_at = #{createAt}
                </if>
                <if test="createTime != null">
                    AND create_time = #{createTime}
                </if>
                <if test="updateAt != null">
                    AND update_at = #{updateAt}
                </if>
                <if test="updateTime != null">
                    AND update_time = #{updateTime}
                </if>
                <if test="delFlag != null">
                    AND del_flag = #{delFlag}
                </if>
                <if test="version != null">
                    AND version = #{version}
                </if>
            </trim>
        </where>
    </delete>
    <insert id="insert"  parameterType="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo">
        <selectKey keyProperty="id" order="BEFORE"  resultType="String">
            SELECT REPLACE(uuid(),'-','') FROM DUAL
        </selectKey>
        INSERT INTO wpe_electrician_record
        (id,user_id,project_id,workday,work_start,work_end,remark,status,work_type,labour_cost,create_at,create_time,update_at,update_time,del_flag,version)
        VALUES
        (#{id,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{projectId,jdbcType=VARCHAR},#{workday,jdbcType=TIMESTAMP},#{workStart,jdbcType=TIMESTAMP},#{workEnd,jdbcType=TIMESTAMP},#{remark,jdbcType=VARCHAR},#{status,jdbcType=CHAR},#{workType,jdbcType=VARCHAR},#{labourCost,jdbcType=DECIMAL},#{createAt,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateAt,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP},#{delFlag,jdbcType=CHAR},#{version,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        INSERT INTO wpe_electrician_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="workday != null">
                workday,
            </if>
            <if test="workStart != null">
                work_start,
            </if>
            <if test="workEnd != null">
                work_end,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="workType != null">
                work_type,
            </if>
            <if test="labourCost != null">
                labour_cost,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="workday != null">
                #{workday,jdbcType=TIMESTAMP},
            </if>
            <if test="workStart != null">
                #{workStart,jdbcType=TIMESTAMP},
            </if>
            <if test="workEnd != null">
                #{workEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="workType != null">
                #{workType,jdbcType=VARCHAR},
            </if>
            <if test="labourCost != null">
                #{labourCost,jdbcType=DECIMAL},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey"  parameterType="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo">
        UPDATE wpe_electrician_record
        <set>
            user_id = #{userId},
            project_id = #{projectId},
            workday = #{workday},
            work_start = #{workStart},
            work_end = #{workEnd},
            remark = #{remark},
            status = #{status},
            work_type = #{workType},
            labour_cost = #{labourCost},
            create_at = #{createAt},
            create_time = #{createTime},
            update_at = #{updateAt},
            update_time = #{updateTime},
            del_flag = #{delFlag},
            version = #{version},
        </set>
         WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyAndVersion">
        UPDATE wpe_electrician_record
        <set>
            user_id = #{record.userId},
            project_id = #{record.projectId},
            workday = #{record.workday},
            work_start = #{record.workStart},
            work_end = #{record.workEnd},
            remark = #{record.remark},
            status = #{record.status},
            work_type = #{record.workType},
            labour_cost = #{record.labourCost},
            create_at = #{record.createAt},
            create_time = #{record.createTime},
            update_at = #{record.updateAt},
            update_time = #{record.updateTime},
            del_flag = #{record.delFlag},
            version = #{record.version},
        </set>
            WHERE id = #{record.id,jdbcType=VARCHAR} and version = #{oldVersion}
    </update>
    <update id="updateByPrimaryKeySelective"  parameterType="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo">
        UPDATE wpe_electrician_record
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="workday != null">
                workday = #{workday},
            </if>
            <if test="workStart != null">
                work_start = #{workStart},
            </if>
            <if test="workEnd != null">
                work_end = #{workEnd},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="workType != null">
                work_type = #{workType},
            </if>
            <if test="labourCost != null">
                labour_cost = #{labourCost},
            </if>
            <if test="createAt != null">
                create_at = #{createAt},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeySelectiveAndVersion">
        UPDATE wpe_electrician_record
        <set>
            <if test="record.userId != null">
                user_id = #{record.userId},
            </if>
            <if test="record.projectId != null">
                project_id = #{record.projectId},
            </if>
            <if test="record.workday != null">
                workday = #{record.workday},
            </if>
            <if test="record.workStart != null">
                work_start = #{record.workStart},
            </if>
            <if test="record.workEnd != null">
                work_end = #{record.workEnd},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark},
            </if>
            <if test="record.status != null">
                status = #{record.status},
            </if>
            <if test="record.workType != null">
                work_type = #{record.workType},
            </if>
            <if test="record.labourCost != null">
                labour_cost = #{record.labourCost},
            </if>
            <if test="record.createAt != null">
                create_at = #{record.createAt},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime},
            </if>
            <if test="record.updateAt != null">
                update_at = #{record.updateAt},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime},
            </if>
            <if test="record.delFlag != null">
                del_flag = #{record.delFlag},
            </if>
            <if test="record.version != null">
                version = #{record.version},
            </if>
        </set>
            WHERE id = #{record.id,jdbcType=VARCHAR}  and version = #{oldVersion}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wpe_electrician_record
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectListByKeys" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wpe_electrician_record
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                and  id in
                <foreach collection="keys" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </trim>
        </where>
    </select>

    <sql id="base_query_condition_sql">
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null">
                    AND m.id = #{id}
                </if>
                <if test="userId != null">
                    AND m.user_id = #{userId}
                </if>
                <if test="projectId != null">
                    AND m.project_id = #{projectId}
                </if>
                <if test="workday != null">
                    AND m.workday = #{workday}
                </if>
                <if test="workStart != null">
                    AND m.work_start = #{workStart}
                </if>
                <if test="workEnd != null">
                    AND m.work_end = #{workEnd}
                </if>
                <if test="remark != null">
                    AND m.remark = #{remark}
                </if>
                <if test="status != null">
                    AND m.status = #{status}
                </if>
                <if test="workType != null">
                    AND m.work_type = #{workType}
                </if>
                <if test="createAt != null">
                    AND m.create_at = #{createAt}
                </if>
                <if test="createTime != null">
                    AND m.create_time = #{createTime}
                </if>
                <if test="updateAt != null">
                    AND m.update_at = #{updateAt}
                </if>
                <if test="updateTime != null">
                    AND m.update_time = #{updateTime}
                </if>
                <if test="delFlag != null">
                    AND m.del_flag = #{delFlag}
                </if>
                <if test="version != null">
                    AND m.version = #{version}
                </if>
            </trim>
        </where>
    </sql>
    <select id="selectOne" resultMap="BaseResultMap"  parameterType="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo">
        SELECT
        <include refid="Base_Column_List" />
        FROM wpe_electrician_record m
        <include refid="base_query_condition_sql"/>
    </select>

    <select id="select" resultMap="BaseResultMap"  parameterType="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo">
        SELECT
        <include refid="Base_Column_List" />
        FROM wpe_electrician_record m
        <include refid="base_query_condition_sql"/>
    </select>

    <select id="selectAll" resultMap="BaseResultMap"  parameterType="com.ciaj.boot.modules.wpe.entity.po.WpeElectricianRecordPo">
        SELECT
        <include refid="Base_Column_List" />
        FROM wpe_electrician_record m
        <include refid="base_query_condition_sql"/>
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.ciaj.boot.modules.wpe.entity.vo.WpeElectricianRecordVo">
        SELECT
        <include refid="Base_Alias_Column_List"/>
        FROM wpe_electrician_record m
        <include refid="cust_query_condition_sql"/>
    </select>

    <resultMap id="DTOResultMap" type="com.ciaj.boot.modules.wpe.entity.dto.WpeElectricianRecordDto" extends="BaseResultMap">
    </resultMap>

    <select id="selectDTOList" resultMap="DTOResultMap" parameterType="com.ciaj.boot.modules.wpe.entity.vo.WpeElectricianRecordVo">
        SELECT
        <include refid="Base_Alias_Column_List"/>
        FROM wpe_electrician_record m
        <include refid="cust_query_condition_sql"/>
    </select>
    <resultMap id="DTOMultiTableResultMap" type="com.ciaj.boot.modules.wpe.entity.dto.WpeElectricianRecordDto" extends="BaseResultMap">
        <association property="user" javaType="com.ciaj.boot.modules.sys.entity.dto.SysUserDto">
            <id property="id" column="user_id"/>
            <result property="username" column="u_username"/>
            <result property="nickname" column="u_nickname"/>
        </association>
        <association property="project" javaType="com.ciaj.boot.modules.wpe.entity.dto.WpeProjectDto">
            <id property="id" column="user_id"/>
            <result property="projectName" column="p_projectname"/>
            <result property="houseType" column="house_type"/>
            <result property="decorationType" column="decoration_type"/>
            <result property="addr" column="p_addr"/>
        </association>
    </resultMap>
    <select id="selectDTOListMultiTable"
            resultMap="DTOMultiTableResultMap"  parameterType="com.ciaj.boot.modules.wpe.entity.vo.WpeElectricianRecordVo">
        SELECT
        <include refid="Base_Alias_Column_List"/>
        ,u.username as "u_username"
        ,u.nickname as "u_nickname"
        ,p.project_name as "p_projectname"
        ,p.house_type as "house_type"
        ,p.decoration_type as "decoration_type"
        ,p.addr as "p_addr"
        FROM wpe_electrician_record m
        LEFT JOIN sys_user u on m.user_id = u.id
        LEFT JOIN wpe_project p on m.project_id = p.id
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <include refid="query_condition_sql"/>
                <!--  keyword   -->
                <if test="keyword != null and keyword != ''">
                    and (m.project_id like CONCAT('%',#{keyword},'%')
                    or m.id like CONCAT('%',#{keyword},'%')
                    or m.remark like CONCAT('%',#{keyword},'%')
                    or u.username like CONCAT('%',#{keyword},'%')
                    or u.nickname like CONCAT('%',#{keyword},'%')
                    or u.dept_names like CONCAT('%',#{keyword},'%')
                    or u.nickname like CONCAT('%',#{keyword},'%')
                    or u.mobile like CONCAT('%',#{keyword},'%')
                    or p.project_name like CONCAT('%',#{keyword},'%')
                    or p.addr like CONCAT('%',#{keyword},'%')
                    )
                </if>
            </trim>
        </where>
    </select>
    <select id="selectListStatisticsMultiTable" resultType="map"  parameterType="com.ciaj.boot.modules.wpe.entity.vo.WpeElectricianRecordVo">
        select  * from (
            SELECT
            m.user_id as "userId"
            ,SUM(m.labour_cost) as "totalLabourCost"
            ,COUNT(m.id) "total"
            ,COUNT(DISTINCT p.id) "projectNum"
            ,u.username as "username"
            ,u.nickname as "nickname"
            ,MIN(DATE_FORMAT(m.workday, '%Y-%m-%d' )) "minWorkday"
            ,GROUP_CONCAT(DATE_FORMAT(m.workday, '%Y-%m-%d' ) ORDER BY m.workday SEPARATOR ',')  as "workdays"
            ,GROUP_CONCAT(CONCAT(DATE_FORMAT(m.workday, '%Y-%m-%d' ),'-', d.name) ORDER BY m.workday SEPARATOR ',')  as "workdayDs"
            ,GROUP_CONCAT(CONCAT(DATE_FORMAT(m.workday, '%Y-%m-%d' ),'-', d.name,'-',TIMESTAMPDIFF(HOUR,work_start,m.work_end)) ORDER BY m.workday SEPARATOR ',')  as "workdayDDs"
            <include refid="type_condition_sql"/>
            FROM wpe_electrician_record m
            LEFT JOIN sys_user u on m.user_id = u.id
            LEFT JOIN wpe_project p on m.project_id = p.id
            LEFT JOIN sys_dict d on d.code=m.work_type and d.type="workType"
            <where>
                <trim prefix="" prefixOverrides="and" suffix="">
                    <include refid="query_condition_sql"/>
                    <if test="period != null  and period != ''">
                        <if test="type != null and type == '1'.toString()">
                            AND DATE_FORMAT( m.workday, '%Y-%m' ) = #{period}
                        </if>
                        <if test="type != null and  type == '2'.toString()">
                            AND DATE_FORMAT( m.workday, '%Y-%m' ) = #{period}
                        </if>
                        <if test="type != null and type == '3'.toString()">
                            AND DATE_FORMAT( m.workday, '%Y' ) = #{period}
                        </if>
                        <if test="type != null and type == '4'.toString()">
                            AND DATE_FORMAT( m.workday, '%Y' ) = #{period}
                        </if>
                    </if>
                    <!--  keyword   -->
                    <if test="keyword != null and keyword != ''">
                        and (m.project_id like CONCAT('%',#{keyword},'%')
                        or m.id like CONCAT('%',#{keyword},'%')
                        or m.remark like CONCAT('%',#{keyword},'%')
                        or u.username like CONCAT('%',#{keyword},'%')
                        or u.nickname like CONCAT('%',#{keyword},'%')
                        or u.dept_names like CONCAT('%',#{keyword},'%')
                        or u.nickname like CONCAT('%',#{keyword},'%')
                        or u.mobile like CONCAT('%',#{keyword},'%')
                        or p.project_name like CONCAT('%',#{keyword},'%')
                        or p.addr like CONCAT('%',#{keyword},'%')
                        )
                    </if>
                    <include refid="type_group_condition_sql"/>
                </trim>
            </where>
        ) t
    </select>
    <sql id="type_group_condition_sql">
        <if test="type != null and type == '1'.toString()">
            GROUP BY DATE_FORMAT(m.workday,'%Y-%m'), m.user_id,m.project_id
        </if>
        <if test="type != null and type == '2'.toString()">
            GROUP BY DATE_FORMAT(m.workday,'%Y-%m'), m.user_id
        </if>
        <if test="type != null and type == '3'.toString()">
            GROUP BY DATE_FORMAT(m.workday,'%Y'), m.user_id,m.project_id
        </if>
        <if test="type != null and type == '4'.toString()">
            GROUP BY DATE_FORMAT(m.workday,'%Y'), m.user_id
        </if>
    </sql>
    <sql id="type_condition_sql">
        <if test="type != null and type== '1'.toString()">
            ,m.project_id as "projectId"
            ,DATE_FORMAT( m.workday, '%Y-%m' ) as "period"
            ,CONCAT(p.addr,'-',p.project_name) as "projectName"
        </if>
        <if test="type != null and type == '2'.toString()">
            ,DATE_FORMAT( m.workday, '%Y-%m' ) as "period"
            ,GROUP_CONCAT(DISTINCT CONCAT(p.addr,'-',p.project_name) SEPARATOR ',')  as "projectName"
        </if>
        <if test="type != null and type == '3'.toString()">
            ,m.project_id as "projectId"
            ,DATE_FORMAT( m.workday, '%Y' ) as "period"
            ,CONCAT(p.addr,'-',p.project_name) as "projectName"
        </if>
        <if test="type != null and type == '4'.toString()">
            ,DATE_FORMAT( m.workday, '%Y' ) as "period"
            ,GROUP_CONCAT(DISTINCT CONCAT(p.addr,'-',p.project_name) SEPARATOR ',')  as "projectName"
        </if>
    </sql>
    <sql id="query_condition_sql">
        <if test="id != null  and id != ''">
            AND m.id = #{id}
        </if>
        <if test="userId != null  and userId != ''">
            AND m.user_id = #{userId}
        </if>
        <if test="projectId != null  and projectId != ''">
            AND m.project_id = #{projectId}
        </if>
        <if test="workday != null ">
            AND m.workday = #{workday}
        </if>
        <if test="workStart != null ">
            AND m.work_start = #{workStart}
        </if>
        <if test="workEnd != null ">
            AND m.work_end = #{workEnd}
        </if>
        <if test="remark != null  and remark != ''">
            AND m.remark = #{remark}
        </if>
        <if test="status != null  and status != ''">
            AND m.status = #{status}
        </if>
        <if test="workType != null  and workType != ''">
            AND m.work_type = #{workType}
        </if>
        <if test="labourCost != null">
            AND m.labour_cost = #{labourCost}
        </if>
        <if test="createAt != null  and createAt != ''">
            AND m.create_at = #{createAt}
        </if>
        <if test="createTime != null ">
            AND m.create_time = #{createTime}
        </if>
        <if test="updateAt != null  and updateAt != ''">
            AND m.update_at = #{updateAt}
        </if>
        <if test="updateTime != null ">
            AND m.update_time = #{updateTime}
        </if>
        <if test="delFlag != null  and delFlag != ''">
            AND m.del_flag = #{delFlag}
        </if>
        <if test="version != null ">
            AND m.version = #{version}
        </if>
        <!--  keyword   -->
        <if test="keyword != null and keyword != ''">
        </if>
    </sql>
    <sql id="cust_query_condition_sql">
        <where>
            <trim prefix="" prefixOverrides="and" suffix="">
                <if test="id != null  and id != ''">
                    AND m.id = #{id}
                </if>
                <if test="userId != null  and userId != ''">
                    AND m.user_id = #{userId}
                </if>
                <if test="projectId != null  and projectId != ''">
                    AND m.project_id = #{projectId}
                </if>
                <if test="workday != null ">
                    AND m.workday = #{workday}
                </if>
                <if test="workStart != null ">
                    AND m.work_start = #{workStart}
                </if>
                <if test="workEnd != null ">
                    AND m.work_end = #{workEnd}
                </if>
                <if test="remark != null  and remark != ''">
                    AND m.remark = #{remark}
                </if>
                <if test="status != null  and status != ''">
                    AND m.status = #{status}
                </if>
                <if test="workType != null  and workType != ''">
                    AND m.work_type = #{workType}
                </if>
                <if test="labourCost != null">
                    AND m.labour_cost = #{labourCost}
                </if>
                <if test="createAt != null  and createAt != ''">
                    AND m.create_at = #{createAt}
                </if>
                <if test="createTime != null ">
                    AND m.create_time = #{createTime}
                </if>
                <if test="updateAt != null  and updateAt != ''">
                    AND m.update_at = #{updateAt}
                </if>
                <if test="updateTime != null ">
                    AND m.update_time = #{updateTime}
                </if>
                <if test="delFlag != null  and delFlag != ''">
                    AND m.del_flag = #{delFlag}
                </if>
                <if test="version != null ">
                    AND m.version = #{version}
                </if>
                <!--  keyword   -->
                <if test="keyword != null and keyword != ''">
                </if>
            </trim>
        </where>
    </sql>
</mapper>
