<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header"/>
<body>
<div id="schedulerapp" v-cloak>
    <div>
        <el-form :inline="true" ref="queryFormRef" :model="queryForm" class="demo-form-inline">
            <el-row type="flex" class="row-bg">
                <el-form-item label="关键字" prop="keyword">
                    <el-input v-model="queryForm.keyword" placeholder="关键字"></el-input>
                </el-form-item>
                <el-form-item label="类型" prop="type">
                    <my-dict-select v-model="queryForm.type" type="taskType"></my-dict-select>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                    <my-dict-select v-model="queryForm.status" type="taskStatus"></my-dict-select>
                </el-form-item>
            </el-row>
            <el-row type="flex" class="row-bg" justify="center">
                <el-form-item>
                    <el-button type="primary" @click="myQuery" icon="el-icon-search">查询</el-button>
                    <el-button @click="myQueryReset">重置</el-button>
<!--                    <my-btn label="新增" type="primary" icon="el-icon-circle-plus" @click="myAdd" auth="task:scheduler:add"></my-btn>-->
                    <my-btn label="导出" type="info" icon="el-icon-download" @click="listExport"  auth="task:scheduler:list:export"></my-btn>
                </el-form-item>
            </el-row>
        </el-form>
        <my-table :columns="tableColumns" :page="page" :table-loading="tableLoading" @sortChange="sortchange" :default-sort="defaultSort"
                  v-on:pagesizechange="pagesizechange" v-on:currentpagechange="currentpagechange">
        </my-table>
        <el-dialog :close-on-click-modal="false" :title="addOrUpdateForm.title"
                   :visible.sync="addOrUpdateForm.schedulerFormVisible">
            <el-form ref="addOrUpdateFormRef" :rules="rules" :model="addOrUpdateForm.scheduler">
                        <el-form-item label="类型" prop="type"
                                      :label-width="addOrUpdateForm.schedulerFormLabelWidth">
                            <my-dict-select v-model="addOrUpdateForm.scheduler.type" type="taskType"></my-dict-select>
                        </el-form-item>
                        <el-form-item label="名称" prop="name"
                                      :label-width="addOrUpdateForm.schedulerFormLabelWidth">
                            <el-input v-model="addOrUpdateForm.scheduler.name" autocomplete="off"
                                      placeholder="名称"></el-input>
                        </el-form-item>
                        <el-form-item label="描述" prop="remark"
                                      :label-width="addOrUpdateForm.schedulerFormLabelWidth">
                            <el-input type="textarea"
                                      :autosize="{ minRows: 2, maxRows: 4}" v-model="addOrUpdateForm.scheduler.remark" autocomplete="off"
                                      placeholder="描述"></el-input>
                        </el-form-item>
                        <el-form-item label="bean名称" prop="beanName"
                                      :label-width="addOrUpdateForm.schedulerFormLabelWidth">
                            <el-input :disabled="true" v-model="addOrUpdateForm.scheduler.beanName" autocomplete="off"
                                      placeholder="bean名称"></el-input>
                        </el-form-item>
                        <el-form-item label="cron表达式" prop="cron" v-if="addOrUpdateForm.scheduler.type == 'cron'"
                                      :label-width="addOrUpdateForm.schedulerFormLabelWidth">
                            <el-input type="textarea"
                                      :autosize="{ minRows: 2, maxRows: 4}" v-model="addOrUpdateForm.scheduler.cron" autocomplete="off"
                                      placeholder="cron表达式"></el-input>
                        </el-form-item>
                        <el-form-item label="间隔毫秒" prop="delay"  v-if="addOrUpdateForm.scheduler.type !== 'cron'"
                                      :label-width="addOrUpdateForm.schedulerFormLabelWidth">
                            <el-input v-model="addOrUpdateForm.scheduler.delay" autocomplete="off"
                                      placeholder="间隔毫秒">
                            </el-input>
                            {{delayFmt}}
                        </el-form-item>
                        <el-form-item label="状态" prop="status"
                                      :label-width="addOrUpdateForm.schedulerFormLabelWidth">
                            <my-dict-select v-model="addOrUpdateForm.scheduler.status" type="taskStatus"></my-dict-select>
                        </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addOrUpdateForm.schedulerFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveOrUpdate">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</div>
<script src="/statics/js/modules/task/scheduler.js"></script>
</body>
</html>
