<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="/statics/js/libs/vue/element-ui-2.4.11/element-ui.css">
<link rel="stylesheet" href="/statics/css/icon/iconfont.css">
<link rel="stylesheet" href="/statics/css/main.css">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/statics/js/jquery.fileDownload.js"></script>
<script src="/statics/js/common.js"></script>
<script src="/webjars/vue/2.5.16/vue.min.js"></script>
<script src="/statics/js/libs/vue/element-ui-2.4.11/element-ui.js"></script>
<script src="/statics/js/vue-component.js"></script>

