<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="/statics/js/libs/vue/element-ui-2.4.11/element-ui.css">
    <link rel="stylesheet" href="/statics/css/main.css">
    <script src="/statics/js/jquery.min.js"></script>
    <script src="/statics/js/common.js"></script>
    <script src="/statics/js/libs/vue/vue-v2.5.21.js"></script>
    <script src="/statics/js/libs/vue/element-ui-2.4.11/element-ui.js"></script>
    <script src="/statics/js/vue-component.js"></script>
    <script src="/statics/js/libs/echarts/echarts.min.js"></script>
</head>
<body>
<div id="main" class="grid-content bg-purple-dark" style="height: 400px;"></div>
</body>
<script type="text/javascript">
    var option ={};
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    httpUtil.get({url: "sys/table/status", data: {}}, function (result) {

        var legend = [];
        var series = [];
        var data = result.data;
        var rows = 0;
        data.forEach(function(v){
            var obj = {}
            obj.name = [v.Name,'(',v.Comment,')-',v.Rows].join('');
            legend.push(obj.name);
            obj.value = v.Rows || 0;
            series.push(obj)
            rows += obj.value;
        });
        // 指定图表的配置项和数据
         option = {
            title : {
                text: '系统表结构统计',
                subtext: ['数据量总计-[',rows,']'].join(''),
                x: 'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: legend
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:series,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    });

    window.onresize= function () {
        myChart.resize();
    }
</script>
</html>