<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <head th:include="header">
</head>
<body>
<div id="main" class="grid-content bg-purple-dark" style="height: 400px;"></div>
</body>
<script src="/statics/libs/echarts/echarts.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    httpUtil.get({url: "sys/table/status", data: {}}, function (result) {

        console.log(result);
        var legend = [];
        var series = [];
        var data = result.data;
        data.forEach(function(v){
            var obj = {}
            obj.name = v.Name+'('+v.Comment+')';
            legend.push(obj.name);
            obj.value = v.Rows;
            series.push(obj)
            console.log(v);
        });
        console.log(legend);
        console.log(series);
        // 指定图表的配置项和数据
        var option = {
            title : {
                text: '系统表结构统计',
                subtext: '数据量',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: legend
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:series,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    });



</script>
</html>