<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="header"/>
    <script src="/statics/js/libs/echarts-4.2.1/echarts.min.js"></script>
</head>
<body>

<div id="mainapp" v-cloak>
    <el-card :body-style="{ padding: '0px' }">
        <div style="height: 300px;padding: 20px 0px 20px 10px;">
            <el-steps direction="vertical" space="30%">
                <el-step title="项目介绍" description="采用java开发的后台基础管理系统，包含基础模块：用户，角色，权限，组织，字典，配置，OSS存储，操作日志，swagger 接口"></el-step>
                <el-step title="后台框架介绍" description="采用：Springboot2+、MyBatis、Shiro 框架，Redis 缓存，Mysql数据库，提供了代码生成器：po，dto，vo，mapper，service，impl，mvc，html...
"></el-step>
                <el-step title="前台框架介绍" description="采用：vue.js、jquery.js、element-ui、echarts..."></el-step>
            </el-steps>
        </div>
    </el-card>
</div>
<div id="main" class="grid-content bg-purple-dark" style="height: 400px;margin-top: 20px;"></div>
</body>
<script type="text/javascript">
    var mainapp = new Vue({
        el: '#mainapp',
        data() {
            return {}
        },
        created: function () {
        },
        methods: {
        }
    });
    let option = {};
    // 基于准备好的dom，初始化echarts实例
    let myChart = echarts.init(document.getElementById('main'));
    httpUtil.get({url: "sys/table/status", data: {}}, function (result) {

        let legend = [];
        let series = [];
        let data = result.data;
        let rows = 0;
        data.forEach(function (v) {
            let obj = {}
            obj.name = [v.Name, '(', v.Comment, ')-', v.Rows].join('');
            legend.push(obj.name);
            obj.value = v.Rows || 0;
            series.push(obj)
            rows += obj.value;
        });
        // 指定图表的配置项和数据
        option = {
            title: {
                text: '系统表结构统计',
                subtext: ['数据量总计-[', rows, ']'].join(''),
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: legend
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: series,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    });

    window.onresize = function () {
        myChart.resize();
    }
</script>
</html>