<!DOCTYPE html >
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
<body>
<div id="areaapp" v-cloak>
	<div>
		<el-form :inline="true" ref="queryFormRef" :model="queryForm" class="demo-form-inline">
			<el-row type="flex" class="row-bg">
				<el-form-item label="关键字"  prop="keyword">
					<el-input v-model="queryForm.keyword" placeholder="关键字"></el-input>
				</el-form-item>
				<el-form-item label="区域"  prop="cascaderModel" >
					<el-cascader placeholder="试试搜索" v-model="cascaderModel" @change="cascaderQueryChange" :options="treeData" :show-all-levels="false" filterable change-on-select clearable>
					</el-cascader>
				</el-form-item>
				<el-form-item label="类型" prop="type" >
					<my-dict-select v-model="queryForm.type" type="area_type"></my-dict-select>
				</el-form-item>
			</el-row>
			<el-row type="flex" class="row-bg" justify="center">
				<el-form-item>
					<el-button type="primary" @click="myQuery">查询</el-button>
					<el-button @click="myQueryReset">重置</el-button>
					<my-btn type="primary" label="新增" @click="myAdd" auth="sys:area:add"></my-btn>
				</el-form-item>
			</el-row>
		</el-form>
		<my-table @sortChange="sortchange" :default-sort="defaultSort"  :columns="tableColumns"  :page="page" v-on:pagesizechange="pagesizechange" v-on:currentpagechange="currentpagechange">
		</my-table>
		<el-dialog :title="addOrUpdateForm.title"  :visible.sync="addOrUpdateForm.areaFormVisible" width="400px">
			<el-form  ref="addOrUpdateFormRef" :rules="rules" :model="addOrUpdateForm.area">
                <el-form-item label="名称" prop="name" :label-width="addOrUpdateForm.areaFormLabelWidth" >
               		 <el-input v-model="addOrUpdateForm.area.name" autocomplete="off" placeholder="城市名称"></el-input>
               	</el-form-item>
                <el-form-item label="编码" prop="code" :label-width="addOrUpdateForm.areaFormLabelWidth" >
               		 <el-input v-model="addOrUpdateForm.area.code" autocomplete="off" placeholder="城市编码"></el-input>
               	</el-form-item>
                <el-form-item label="父级" prop="parentId" :label-width="addOrUpdateForm.areaFormLabelWidth" >
					<el-cascader placeholder="试试搜索" v-model="addOrUpdateForm.cascaderModel" @change="cascaderChange" :options="treeData" :show-all-levels="false" filterable change-on-select clearable></el-cascader>
               	</el-form-item>
                <el-form-item label="类型" prop="type" :label-width="addOrUpdateForm.areaFormLabelWidth" >
					<my-dict-select v-model="addOrUpdateForm.area.type" type="area_type"></my-dict-select>
               	</el-form-item>
				<el-form-item label="排序" prop="sequence" :label-width="addOrUpdateForm.areaFormLabelWidth" >
					<el-input type="number" min="0" v-model="addOrUpdateForm.area.sequence" autocomplete="off" placeholder="排序"></el-input>
				</el-form-item>
				<el-form-item label="启用" prop="enabled" :label-width="addOrUpdateForm.areaFormLabelWidth" >
					<my-dict-select v-model="addOrUpdateForm.area.enabled" type="enabled"></my-dict-select>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="addOrUpdateForm.areaFormVisible = false">取 消</el-button>
				<el-button type="primary" @click="saveOrUpdate">确 定</el-button>
			</div>
		</el-dialog>
    </div>
</div>
<script src="/statics/libs/Convert_Pinyin.js"></script>
<script src="/statics/js/modules/sys/area.js"></script>
</body>
</html>
