<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
<body>
<div id="ossapp" v-cloak>
    <div>
        <el-form :inline="true" ref="queryFormRef" :model="queryForm" class="demo-form-inline">
            <el-row type="flex" class="row-bg">
                <el-form-item label="关键字" prop="keyword">
                    <el-input v-model="queryForm.keyword" placeholder="关键字"></el-input>
                </el-form-item>
            </el-row>
            <el-row type="flex" class="row-bg" justify="center">
                <el-form-item>
                    <el-button type="primary" @click="myQuery">查询</el-button>
                    <el-button @click="myQueryReset">重置</el-button>
                    <el-button @click="ossForm.uploadFormVisible = true" type="primary">图片上传</el-button>
                </el-form-item>
            </el-row>
        </el-form>
        <my-table @sortChange="sortchange" :default-sort="defaultSort" :columns="tableColumns" :page="page"
                  v-on:pagesizechange="pagesizechange"
                  v-on:currentpagechange="currentpagechange">
        </my-table>
        <el-dialog title="图片上传" :visible.sync="ossForm.uploadFormVisible" width="600px">
            <el-upload
                    class="upload-demo"
                    action="/oss/upload"
                    :on-success="uploadSuccess"
                    list-type="picture">
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件</div>
            </el-upload>
            <div slot="footer" class="dialog-footer">
                <el-button @click="ossForm.uploadFormVisible = false">取 消</el-button>
            </div>
        </el-dialog>
        <el-dialog title="图片预览" :visible.sync="imgPreVisible" width="600px">
            <el-card :body-style="{ padding: '0px' }">
                <img :src="rowImgUrl" class="image" v-if="rowImgUrl">
                <div style="padding: 14px;word-break: break-all;">
                    <a :href="rowImgUrl" target="_blank">{{rowImgUrl}}</a>
                </div>
            </el-card>
        </el-dialog>
    </div>
</div>
<script src="/statics/js/modules/sys/oss.js"></script>
<style>
    .time {
        font-size: 13px;
        color: #999;
    }

    .image {
        width: 100%;
        display: block;
    }
</style>
</body>
</html>
