<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header"/>
<body>
<div id="electricianRecordapp" v-cloak>
    <div>
        <el-form :inline="true" ref="queryFormRef" :model="queryForm" class="demo-form-inline">
            <el-form-item label="关键字" prop="keyword">
                <el-input v-model="queryForm.keyword" placeholder="关键字"></el-input>
            </el-form-item>
            <el-form-item label="工作状态" prop="status">
                <my-dict-select v-model="queryForm.status" type="status"></my-dict-select>
            </el-form-item>
            <el-form-item label="用户" prop="userId">
                <my-search-select v-model="queryForm.userId"
                                  search-url="/sys/user/list"
                                  search-param="roleCode-wpe"
                                  search-field-name="keyword"
                                  label-field-name="username"
                                  label-field-value="id"
                                  right-label-field-name="deptNames"
                />
            </el-form-item>
            <el-form-item label="项目" prop="projectId">
                <my-search-select v-model="queryForm.projectId"
                                  search-url="/wpe/project/list"
                                  search-field-name="keyword"
                                  label-field-name="projectName"
                                  label-field-value="id"
                                  right-label-field-name="addr"
                />
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="myQuery" icon="el-icon-search">查询</el-button>
                <el-button @click="myQueryReset">重置</el-button>
                <my-btn type="primary" label="新增" @click="myAdd" icon="el-icon-circle-plus" auth="wpe:electrician:record:add"></my-btn>
                <my-btn type="info" label="导出" @click="listExport" icon="el-icon-download" auth="wpe:electrician:record:list:export"></my-btn>
            </el-form-item>
        </el-form>
        <my-table show-summary :columns="tableColumns" :page="page" :table-loading="tableLoading"  @sortChange="sortchange" :default-sort="defaultSort"
                  v-on:pagesizechange="pagesizechange" v-on:currentpagechange="currentpagechange">
        </my-table>
        <el-dialog :close-on-click-modal="false" :title="addOrUpdateForm.title"
                   :visible.sync="addOrUpdateForm.electricianRecordFormVisible">
            <el-form ref="addOrUpdateFormRef" :rules="rules" :model="addOrUpdateForm.electricianRecord">
                <!--
				<el-form-item label="示例" prop="demo" :label-width="addOrUpdateForm.electricianRecordFormLabelWidth" required>
					<el-select v-model="addOrUpdateForm.electricianRecord.demo" placeholder="示例">
						<el-option label="未知" value=""></el-option>
					</el-select>
				</el-form-item>
				-->
                        <el-form-item label="用户" prop="userId"
                                      :label-width="addOrUpdateForm.electricianRecordFormLabelWidth" required>
                          <my-search-select v-model="addOrUpdateForm.electricianRecord.userId"
                                            search-url="/sys/user/list"
                                            search-param="roleCode-wpe"
                                            search-field-name="keyword"
                                            label-field-name="username"
                                            label-field-value="id"
                                            right-label-field-name="deptNames"
                          />
                        </el-form-item>
                        <el-form-item label="工程" prop="projectId"
                                      :label-width="addOrUpdateForm.electricianRecordFormLabelWidth" required>
                            <my-search-select v-model="addOrUpdateForm.electricianRecord.projectId"
                                              search-url="/wpe/project/list"
                                              search-field-name="keyword"
                                              label-field-name="projectName"
                                              label-field-value="id"
                                              right-label-field-name="addr"
                            />
                        </el-form-item>
                        <el-form-item label="工作日" prop="workday"
                                      :label-width="addOrUpdateForm.electricianRecordFormLabelWidth" required>
                            <el-date-picker value-format="yyyy-MM-dd"
                                    v-model="addOrUpdateForm.electricianRecord.workday"
                                    type="date"
                                    placeholder="选择工作日">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="工作开始时间" prop="workStart"
                                      :label-width="addOrUpdateForm.electricianRecordFormLabelWidth">
                            <el-date-picker value-format="yyyy-MM-dd HH:mm:ss"
                                    v-model="addOrUpdateForm.electricianRecord.workStart"
                                    type="datetime" default-time="09:00:00" placeholder="选择工作开始时间"/>
                        </el-form-item>
                        <el-form-item label="工作日结束时间" prop="workEnd"
                                      :label-width="addOrUpdateForm.electricianRecordFormLabelWidth">
                            <el-date-picker value-format="yyyy-MM-dd HH:mm:ss"
                                    v-model="addOrUpdateForm.electricianRecord.workEnd"
                                    type="datetime" default-time="18:00:00" placeholder="工作日结束时间"/>
                        </el-form-item>
                        <el-form-item label="备注" prop="remark"
                                      :label-width="addOrUpdateForm.electricianRecordFormLabelWidth">
                            <el-input v-model="addOrUpdateForm.electricianRecord.remark" autocomplete="off"
                                      placeholder="备注"></el-input>
                        </el-form-item>
                        <el-form-item label="工作状态" prop="status" :label-width="addOrUpdateForm.electricianRecordFormLabelWidth" required>
                            <my-dict-select v-model="addOrUpdateForm.electricianRecord.status" type="status"></my-dict-select>
                        </el-form-item>
                        <el-form-item label="工价" prop="labourCost" :label-width="addOrUpdateForm.electricianRecordFormLabelWidth" required>
                            <el-input-number controls-position="right" v-model="addOrUpdateForm.electricianRecord.labourCost" :precision="2" :step="0.1" :min="0"></el-input-number>
                        </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addOrUpdateForm.electricianRecordFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveOrUpdate">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</div>
<script src="/statics/js/modules/wpe/electricianRecord.js"></script>
</body>
</html>
