<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header"/>
<body>
<div id="electricianRecordStatisticsapp" v-cloak>
    <div>
        <el-form :inline="true" ref="queryFormRef" :model="queryForm" class="demo-form-inline">
            <el-form-item label="关键字" prop="keyword">
                <el-input v-model="queryForm.keyword" placeholder="关键字"></el-input>
            </el-form-item>
            <el-form-item label="月份" prop="month">
                <el-date-picker v-model="queryForm.month" value-format="yyyy-MM" type="month" placeholder="选择月份"></el-date-picker>
            </el-form-item>
            <el-form-item label="用户" prop="userId">
                <my-search-select v-model="queryForm.userId"
                                  search-url="/sys/user/list"
                                  search-param="roleCode-wpe"
                                  search-field-name="keyword"
                                  label-field-name="username"
                                  label-field-value="id"
                                  right-label-field-name="deptNames"
                />
            </el-form-item>
            <el-form-item label="项目" prop="projectId">
                <my-search-select v-model="queryForm.projectId"
                                  search-url="/wpe/project/list"
                                  search-field-name="keyword"
                                  label-field-name="projectName"
                                  label-field-value="id"
                                  right-label-field-name="addr"
                />
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="myQuery" icon="el-icon-search">查询</el-button>
                <el-button @click="myQueryReset">重置</el-button>
                <el-button type="info" @click="exportStatistics">导出</el-button>
            </el-form-item>
        </el-form>
        <my-table :columns="tableColumns" :page="page" :table-loading="tableLoading"
                  v-on:pagesizechange="pagesizechange" v-on:currentpagechange="currentpagechange">
        </my-table>
    </div>
</div>
<script src="/statics/js/modules/wpe/electricianRecordStatistics.js"></script>
</body>
</html>
